.imgP{
    object-fit: cover;
    height: 250px;
    width: 100%;
}


.conL{
    background: url("/bg.jpg");
}
.card-title{
    font-size: 18px;
}
.nosearch{
   height: 400px;

}

@media (max-width:480px) {
    .m-s{
        margin-left: -10% !important;
    }
    .m-se{
        width: 90px;
        font-size: 14px;
      
    }
    .conL>div{
        height: 30px;
    }
    /* option{
        scale: 0.7 !important;
    } */
       
    
}