.pb {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
}

.v-con {
  max-width: 1000px;
  background: white;
}

.view-img {
  max-height: 350px;
  object-fit: contain;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .view-img {
    max-height: 500px;
  }
}

.des {
  font-size: 18px;
}

.add {
  width: 160px;
}

.off {
  color: rgb(46, 61, 120);
}
